{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <div class="container login mt-5">

        <h1 class="h1">Se connecter</h1>
        <hr>

        <div class="d-flex justify-content-center">
            <form method="post" class="text-center">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% if app.user %}
                    <div class="mb-3">
                        Vous êtes connectée en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">
                            <i class="fas fa-sign-out-alt mr-2"></i> Déconnexion</a>
                    </div>
                {% endif %}

                <div class="card mt-5">

                    <h2 class="card-header text-center p-4 bg-primary mb-3">
                        <strong class="text-light">Bienvenue sur Wild Series</strong>
                    </h2>

                    <div class="card-body px-lg-5 pt-0">

                        <div class="uk-margin mt-4">
                            <label for="inputEmail">Email</label>
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: mail"></span>
                                <input type="email" value="{{ last_username }}" name="email" id="inputEmail"
                                       class="form-control uk-input"
                                       required
                                       autofocus>
                            </div>
                        </div>

                        <div class="uk-margin">
                            <label for="inputPassword">Mot de passe</label>
                            <div class="uk-inline">
                                <span class="uk-form-icon" uk-icon="icon: lock"></span>
                                <input type="password" name="password" id="inputPassword"
                                       class="form-control uk-input"
                                       required>
                            </div>
                        </div>

                        <input type="hidden" name="_csrf_token"
                               value="{{ csrf_token('authenticate') }}">

                        <div class="d-flex align-items-center flex-column">
                            <!-- Remember me -->

                            {#                        Uncomment this section and add a remember_me option below your firewall to activate remember me#}
                            {#                        functionality.#}
                            {#                        See https://symfony.com/doc/current/security/remember_me.html#}

                            {#                        <div class="checkbox mb-3">#}
                            {#                            <label>#}
                            {#                                <input type="checkbox" name="_remember_me"> Remember me#}
                            {#                            </label>#}
                            {#                        </div>#}

                            {#                        <div class="form-check">#}
                            {#                            <input type="checkbox" class="form-check-input" id="materialLoginFormRemember">#}
                            {#                            <label class="form-check-label" for="materialLoginFormRemember">Remember me</label>#}
                            {#                        </div>#}
                            {#                    </div>#}
                            {#                    <div>#}

                            {#                        <a href="">Forgot password?</a>#}
                            {#                    </div>#}
                            {#                </div>#}


                            <button class="btn btn-primary mt-5 btn-block"
                                    type="submit">
                                <i class="fas fa-power-off mr-2"></i> Se connecter
                            </button>

                            <p>Pas encore membre ?
                                <a href="{{ path('app_register') }}" class="btn btn-secondary" type="submit">
                                    <i class="fas fa-sign-in-alt mr-2"></i> S'inscrire
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
