{% extends 'base.html.twig' %}

{% block title %}Episodes{% endblock %}

{% block body %}
    <h1>Tous les épisodes</h1>

    <a href="{{ path('episode_new') }}" class="btn">Ajouter un épisode</a>

    <table class="table">
        <thead>
        <tr>
            <th>Episode</th>
            <th>Titre</th>
            <th>Synopsis</th>
            <th>Admin</th>
        </tr>
        </thead>
        <tbody>
        {% for episode in episodes %}
            <tr>
                <td>{{ episode.number }}</td>
                <td>{{ episode.title }}</td>
                <td>{{ episode.synopsis }}</td>
                <td>
                    <a href="{{ path('episode_show', {'slug': episode.slug}) }}" class="btn">Détails</a>
                    <a href="{{ path('episode_edit', {'slug': episode.slug}) }}" class="btn">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucun épisode trouvé</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
