{% extends 'base.html.twig' %}

{% block title %}Episode{% endblock %}

{% block body %}

    <div class="container mt-4">

        <a href="{{ path('episode_index') }}" class="btn btn-primary">
            <i class="fas fa-reply mr-2"></i> Retour à la liste des épisiodes
        </a>

        <div class="d-flex align-items-center">
            <h1>{{ episode.number }}) {{ episode.title }}</h1>
            <a href="{{ path('episode_edit', {'slug': episode.slug}) }}" class="btn btn-primary">
                <i class="fas fa-cog mr-2"></i> Modifier
            </a>
        </div>
        <hr>

        <table class="table table-striped show-episode">
            <tbody>
            <tr>
                <th class="table-dark">Série</th>
                <td>{{ episode.season.program.title }}</td>
            </tr>
            <tr>
                <th class="table-dark">Saison n°</th>
                <td>{{ episode.season.number }}</td>
            </tr>
            <tr>
                <th class="table-dark">Episode n°</th>
                <td>{{ episode.number }}</td>
            </tr>
            <tr>
                <th class="table-dark">Titre</th>
                <td>{{ episode.title }}</td>
            </tr>
            <tr>
                <th class="table-dark">Synopsis</th>
                <td>{{ episode.synopsis }}</td>
            </tr>
            </tbody>
        </table>

    </div>
{% endblock %}
