{% extends 'base.html.twig' %}

{% block title %}Saisons{% endblock %}

{% block body %}
    <h1>Toutes les saisons</h1>

    <a href="{{ path('season_new') }}" class="btn">Ajouter une saison</a>

    <table class="table">
        <thead>
        <tr>
            <th>Saison</th>
            <th>Année</th>
            <th>Description</th>
            <th>Admin</th>
        </tr>
        </thead>
        <tbody>
        {% for season in seasons %}
            <tr>
                <td>{{ season.number }}</td>
                <td>{{ season.year }}</td>
                <td>{{ season.description }}</td>
                <td>
                    <a href="{{ path('season_show', {'id': season.id}) }}" class="btn">Détails</a>
                    <a href="{{ path('season_edit', {'id': season.id}) }}" class="btn">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune saison enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
