{% extends 'base.html.twig' %}

{% block title %}Séries{% endblock %}

{% block body %}
    <h1>Toutes les séries</h1>

    <a href="{{ path('program_new') }}" class="btn">Ajouter une série</a>

    <table class="table">
        <thead>
        <tr>
            <th></th>
            <th>Affiche</th>
            <th>Titre</th>
            <th>Résumé</th>
            <th>Admin</th>
        </tr>
        </thead>
        <tbody>
        {% for program in programs %}
            <tr>
                <td>{{ loop.index }}</td>
                <td><img src="{{ program.poster }}" class="poster" alt=""></td>
                <td>{{ program.title }}</td>
                <td>{{ program.summary }}</td>
                <td>
                    <a href="{{ path('show_program', {'programName': program.slug }) }}" class="btn">Détails</a>
                    <a href="{{ path('program_edit', {'slug': program.slug }) }}" class="btn">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune série enregistrée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
