{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Saison {{ season.number }} de <i>{{ program.title }}</i></h1>
        <hr>
        <p>{{ program.summary }}</p>

        <div class="episodes">
            {% for episode in episodes %}
                <a href="{{ path('show_episode', {'slug': episode.slug }) }}">
                    <h2>Episode {{ episode.number }} : <i>{{ episode.title }}</i></h2>
                </a>
            {% endfor %}
        </div>

        <a class="btn" href="{{ path('show_program', {'programName': program.title }) }}">Retour</a>
    </div>
{% endblock %}