{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <div class="program">
        <div class="container">
            <div class="pic">
                <img src="{{ program.poster }}" alt="Affiche de {{ program.title }}" class="poster">
                <a class="btn btn-primary" href="{{ path('wild_index') }}">
                    Retour à l'accueil
                </a>
            </div>

            <div class="content">
                <div class="d-flex">
                    <h1>{{ program.title }}</h1>
                    {% if is_granted('ROLE_ADMIN') %}
                        <a href="{{ path('program_edit', { 'slug': program.slug} ) }}" class="btn btn-danger">Éditer</a>
                    {% endif %}
                </div>
                <hr>
                <p>{{ program.summary }}</p>

                <div class="seasons">
                    {% for season in seasons %}
                        <a class="btn btn-primary" role="button"
                           href="{{ path('show_season', {'id': season.id }) }}">Saison {{ season.number }}</a>
                    {% endfor %}
                </div>

                <h2>Casting</h2>
                <div class="casting">
                    <ul>
                        {% for actor in program.actors %}
                            <li><a href="{{ path('actor_show', {'slug':actor.slug}) }}">{{ actor.name }}</a></li>
                        {% else %}
                            <li>Aucun acteur pour cette série</li>
                        {% endfor %}
                    </ul>
                </div>

            </div>
        </div>
    </div>
{% endblock %}

