<div class="container">
    <div class="label-form">{{ form_label(form.name) }}</div>
    {{ form_widget(form.name) }}
    <div class="label-form">{{ form_label(form.programs) }}</div>
    {{ form_widget(form.programs) }}
    <div class="d-flex justify-content-center">
        <button class="btn btn-primary">
            <i class="fas fa-save mr-2"></i> {{ button_label|default('Enregistrer') }}
        </button>
    </div>
    {{ form_end(form) }}
</div>
