{% extends 'base.html.twig' %}

{% block title %}Acteurs{% endblock %}

{% block body %}
    <h1>Tous les acteurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th></th>
                <th>Nom</th>
                <th>Admin</th>
            </tr>
        </thead>
        <tbody>
        {% for actor in actors %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ actor.name }}</td>
                <td>
                    <a href="{{ path('actor_show', {'slug': actor.slug}) }}" class="btn">Détails</a>
                    <a href="{{ path('actor_edit', {'slug': actor.slug}) }}" class="btn">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun acteur dans la liste</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('actor_new') }}" class="btn">Ajouter un acteur</a>
{% endblock %}
