<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="/"><img src="https://zupimages.net/up/19/52/d3e6.png" height="40"
                                          class="d-inline-block align-top" alt=""></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{{ path('program_index') }}" aria-disabled="true">Séries</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('season_index') }}" aria-disabled="true">Saisons</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('episode_index') }}" aria-disabled="true">Episodes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ path('actor_index') }}" aria-disabled="true">Acteurs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" aria-disabled="true"><i class="fas fa-heart"></i> Favoris</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav ml-auto align-middle">
                <li class="nav-item">
                    {% if app.user %}
                <li><a href="{{ path('app_logout') }}" class="nav-link">Déconnexion</a></li>
                <li><a href="#" class="nav-link">{{ app.user.email }}</a></li>
                {% else %}
                    <a href="{{ path('app_login') }}" class="nav-link">Connexion</a>
                {% endif %}
                </li>
                <li class="nav-item">
                    <img src="https://www.paroissesaintcyrlecole.fr/wp-content/uploads/2018/10/female-default-profile.png"
                         class="profil-pic rounded-circle">
                </li>
            </ul>

        </form>
    </div>
</nav>